header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #111;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 3px 10px rgba(229, 9, 20, 0.5);
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
}

.logo span {
  color: #E50914;
}

.center-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.center-nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.center-nav ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}


.center-nav ul li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ff0202;
  transition: 0.3s;
}

.center-nav ul li a:hover {
  color: #fff;
}

.center-nav ul li a:hover::after {
  width: 100%;
}


.auth-buttons {
  display: flex;
  gap: 15px;
}

.auth-buttons .btn {
  padding: 8px 16px;
  border-radius: 8px;
  background: #E50914;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
}

.auth-buttons .btn:hover {
  background: #b20710;
  transform: scale(1.05);
}

.auth-buttons .btn.secondary {
  background: transparent;
  border: 1px solid #E50914;
  color: #E50914;
}

.auth-buttons .btn.secondary:hover {
  background: #E50914;
  color: #fff;
}


nav ul li .btn {
  padding: 8px 16px;
  border-radius: 8px;
  background: #E50914;
  color: #fff;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li .btn:hover {
  background: #b20710;
  transform: scale(1.05);
}

nav ul li .btn.secondary {
  background: transparent;
  border: 1px solid #E50914;
  color: #E50914;
}

nav ul li .btn.secondary:hover {
  background: #E50914;
  color: #fff;
}